body {
  text-align: center;
  background-color: green;
  height: 800px;

}


h1 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 50px;
}

h3 {
  font-size: 40px;
  font-weight: bolder;
}


td {
  border: 10px #ccc solid;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 5px;
}

table {
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 0;
}

.imageX {
  background-image: url("https://pixabay.com/static/uploads/photo/2012/04/02/16/12/x-24850_960_720.png");
  background-size: contain;
}

.imageO {
  background-image: url("https://pixabay.com/static/uploads/photo/2013/07/12/12/36/letter-146009_960_720.png");
  background-size: contain;
}
